.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.logo img {
  width: 60%;
}
.content {
  text-align: center;
  position: relative;
  bottom: 80px;
}
.welcome {
  position: relative;
  bottom: 29px;
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  padding: 0;
  color: white;
}
.flower-container {
  position: relative;
  display: inline-block;
}

.mainImage {
  width: auto;
  height: 161vmin;
  position: absolute;
  padding: -111px;
  left: -2px;
  top: -50px;
  z-index: 1;
}

.overlap-rectangle img {
  width: 95%;
  height: auto;
}

.enter-button {
  padding: 12px 89px;
  font-size: 50px;
  font-weight: 800;
  background-color: #fff;
  border: none;
  border-top-left-radius: 51px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 50px;
  cursor: pointer;
  z-index: 2;
  position: relative;
  bottom: -239px;
  color: red;
}

.enter-button:hover {
  background-color: #eee;
}
